
<div class="container" >
    <div class="h2">
        Manage Salesforce Objects
    </div>	
	<div class="alert alert-danger" role="alert" ng-if="svcErr">
		Unable to contact service!
	</div>
	<div class="alert alert-warning" role="alert" ng-if="!svcErr && countA == 0">
		No data!
	</div>
	<div class="panel panel-default" ng-if="!svcErr && objs.length > 0">
        <div class="panel-heading">
            <button type="button" class="btn btn-success btn-sm" ng-click="search = {createSfObject:true}">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Completed {{countC}}
            </button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="search = {createSfObject:false}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"  ></span> Pending {{countP}}
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="search = {}">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> All {{countA}}
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-show="countS > 0" ng-click="search = {checkbox:true}">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Selected {{countS}}
            </button>
            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="saveObjects()">
                <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Sync Metadata {{countS}}
            </button>
        </div>
        <div class="scldiv">
	       	<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th class="text-center">Sync</th>
			      <th class="text-center">Object Name</th>
			      <th class="text-center">Object ID</th>			      
			    </tr>		     
			  </thead>
			  <tbody>
			  	<tr>
			      <td class="text-center"><input type="checkbox" ng-model="selecta.all" ng-change="selectAll()" ng-true-value="true" ng-false-value="false"/></td>
			      <td class="text-center small"><input type="text" ng-model="search.sfObjectLabel" class="form-control" placeholder="type to filter"/></td>
			      <td class="text-center small"><input type="text" ng-model="search.sfObjectName" class="form-control" placeholder="type to filter"/></td>			      
			    </tr>
			    <tr  ng-repeat="obj in objs | filter:search:strict">
			      <td scope="row" class="text-center">
			      	<!-- <button type="button" class="btn btn-warning" style="padding: 3px 10px 3px 10px;">
	                   	<span style="font-size: 1.5em;"  class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
	                   </button> -->
	                   <input type="checkbox" ng-if="!obj.createSfObject" ng-model="obj.checkbox" value="@{{obj.checkbox}}" ng-change="updateSaveCount(obj.checkbox)"/>
	                   <input type="checkbox" ng-if="obj.createSfObject" ng-model="obj.checkbox" value="@{{obj.checkbox}}" checked="checked" disabled="disabled"/>
	                  </td>
			      <td class="align-middle">{{obj.sfObjectLabel}}</td>
			      <td>{{obj.sfObjectName}}</td>
			      <!-- <td>{{obj.createSfObject}}</td> -->
			    </tr>
			    </tbody>
		    </table>
		</div>
    </div>  
</div>
