<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{stext}}</h3>
</div>
<div class="modal-body" id="modal-body" ng-if="progressData.progressText.length() > 0">
  {{progressData}}  
</div>
<div class="modal-footer">
  <uib-progressbar class="progress-striped active" max="progressData.max > 0 ? progressData.max : 100" 
    value="progressData.max > 0 ? progressData.count : 100" type="info">
    <font ng-if="progressData.max > 0"><i>{{progressData.count}} / {{progressData.max}}</i></font>
  </uib-progressbar>
</div>