
<div  >
        <div class="h2">
                Synchronize Objects
        </div>
        <div class="alert alert-danger" role="alert" ng-if="svcErr">
			Unable to contact service!
		</div>
        <div class="panel panel-default" ng-if="!svcErr && isComplete">
                <div class="panel-heading">
                &nbsp; &nbsp;
                <button type="button" class="btn btn-default btn-sm" ng-show="isCollapse && tables.isDifferent" ng-click="isCollapse = false">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Collapse
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-show="!isCollapse" ng-click="isCollapse = true">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"  ></span> Expand
                </button>
                
                <button type="button" class="btn btn-info btn-sm pull-right align-center" ng-click="syncData()">
                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Synchronize Data
                </button>

                <button ng-if="tables.isDifferent" type="button" class="btn btn-warning btn-sm pull-right" ng-click="syncAllObject()"  style="margin-right: 20px !important;">
                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Sync Metadata
                </button>
                &nbsp; &nbsp;
                </div>
                <div style="height: 200px;" ng-if="!tables.isDifferent">
                        <p class="h3 text-center">No difference in tables</p>
                </div>
                <div style="height: 500px; overflow-y: auto;" ng-if="tables.isDifferent">
                        <ul class="list-group" style="margin-bottom: 0;" ng-repeat="table in tables.difference">
                        	<li class="list-group-item" >
                        		<span class="badge badge-missing" ng-if="!table.isMissing && !isCollapse">Column Missing</span>
                        		<span class="badge badge-found" ng-if="!table.isMissing">Table</span>
                        		<span class="badge badge-missing" ng-if="table.isMissing">Table Missing</span>
                        		<font class="h4">{{table.objectName}}</font>
                        		<button type="button" class="btn btn-info btn-sm pull-left" ng-click="syncObject(table.objectName, table.missingColumns)" style="margin: 0 20px 5px 0;">
				                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Synchronize
				                </button>                      		
                        	</li>
                        	<li class="list-group-item" ng-show="isCollapse" style="padding: 0px;" ng-if="!table.isMissing" >
                        		<ul class="list-group"  style="padding: 0px; margin-bottom: 0;">
                        			<li class="list-group-item" ng-repeat="cols in table.missingColumns">                        				
                        				<span class="badge badge-missing">Column Missing</span>
                        				<em>{{cols}}</em>
                        			</li>                        			
                        		</ul>                        		
                        	</li>
                        </ul>
                </div>
        </div>
</div>
